@import "tailwindcss";

body {
  font-family: var(--font-raleway), sans-serif;
  background-color: var(--color-background);
}
@theme {
  --color-background: #F8F8FF;
  --color-foreground: #102542;
  --color-text-300:#405168;
  --color-text-500:#102542;
  --color-text-700:#0b1a2f;
  --color-card: #fef1ef;
  --color-primary: #0F7173;
  --color-secondary: #883e35;
  --color-accent: #6fffe9;
  --color-muted: #eaeaea;
  --color-success: #00ffa2;
  --color-error: #ff0054;
  --color-warning: #ffa600;
  --color-info: #00b4d8;
  --color-white: #ffffff;
}